div.canvas
{
    position: relative;
}

/* Panels */

div.panel
{
    position: absolute;
    width: 20em;
    min-height: 5em;
    background-color:black;
    border: 0.2em solid gray;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

div.noborder
{
    width: 22em;
    height: 12em;
    border: 0em solid black !important;
    background: none;
    color: yellow;
    font-weight: bold;
}

div.noborder > div
{
    margin: 0em !important;
}

div.tall
{
    min-height: 20em;
}

div.wall
{
    background-image:url('img/wall.png');
    background-repeat: repeat;
    min-width: 300em;
    min-height: 300em;
}

/* Chunks */

div.panel div
{
    position: relative;
    padding: 0.5em;
}

/* Balloons */

div.b, div.thought, div.bleft, div.bright
{
    position: relative;
    clear: both;
    margin: 0.5em 1em 0.5em 1em;
    border: 0.2em solid #9b7c79;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: white;
}

div.thought
{
    border: 0.1em dashed #222244;
}

div.bleft
{
    float: left !important;
}

div.bright
{
    float: right !important;
}

div.bleft:before
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   right: 100%;
   top: 10%;
   border-top: 0.6em solid transparent;
   border-right: 1em solid #9b7c79;
   border-bottom: 0.2em solid transparent;
}

div.bright:after
{
   position: absolute;
   content:"";
   width: 0em;
   height: 0em;
   left: 100%;
   top: 50%;
   border-top: 0.6em solid transparent;
   border-left: 1em solid #9b7c79;
   border-bottom: 0.2em solid transparent;
}

/* Text */

div.shariputra
{
    color: #ffaa33;
}

div.barnabas
{
    color: #33aaff;
}

div.didymus
{
    color: red;
    border-color: red;
}

div.maimonides
{
    color: green;
    border-color: green;
}


div.didymus:before, div.didymus:after
{
    border-color: transparent red;
}

div.maimonides:before, div.maimonides:after 
{
    border-color: transparent green;
}
