body {
    font-size: 1em;
    line-height: 1.4em;
}

#content
{
    padding: 1em;
}

.panelz
{
    display: none;
}

div#panelz
{
    position: fixed;
    top: 0em;
    left: 0em;
    width: 24em;
    height: 36em;
    display: none;
    overflow: hidden;
    background-color: black;
}

button#closer
{
    position: fixed;
    top: 1em;
    right: 1em;
}
